
body {
    background-color: burlywood;
    background-image: '0.jpg';
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    font-size: 11.5px;
    font-family: "", sans-serif;
  }
  